body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
#root{
  background: url('https://i.ytimg.com/vi/SpnJVwVVNO0/maxresdefault.jpg') center no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  background-attachment: fixed;
}
.container{
  margin-top: 50px;
  padding: 50px;
  display: flex;
}
button {
  padding: 10px 20px;
  background: transparent;
  border-radius: 100px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s;
}
button:focus {
  outline: none;
}
button:hover {
  background: white;
  color: black;
}
nav{
  padding-top: 50px;
}
nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid white;
  margin: 10px;
  background: rgba(0, 0, 0, 0.6);
}
nav ul li:hover{
  background: white;
}
nav ul li:hover a{
  color: black;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.container .caption {
  width: 50%;
  margin-right: 20px;
  height: 100%;
}
.container .insert-member {
  width: 50%;
  display: inline-block;
}
.container .insert-member form {
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
}
.container .insert-member form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #012b70;
  color: white;
}
.container .insert-member form input:focus {
  outline: none;
}
.text-right{
  text-align: right;
}
.members .list-member {
  width: 100%;
  display: flex;
  padding: 20px;
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.members .list-member .sub-member {
  width: 24%;
  border: 1px solid white;
  padding: 20px;
  word-break: break-word;
}
.members .list-member .sub-member button{
  width: 100%;
  margin: 5px;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  padding: 0px 20px;
  height: 100vh;
  z-index: 99;
  width: 100%;
  left: 0;
}
.modal ul {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 10px;
  background: white;
  max-height: 70vh;
}
.modal ul li {
  width: 100%;
  list-style-type: none;
  background: white;
  height: 50px;
  margin: 5px 0;
}
.modal ul li a img {
  width: 20%;
  display: inline-block;
  height: -webkit-fill-available;
}
.modal ul li a .title {
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  font-size: 13px;
  margin-left: 3%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 75%;
  white-space: nowrap;
}
.modal-form {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  padding: 0px 20px;
  height: 100vh;
  z-index: 99;
  width: 100%;
  left: 0;
}
.modal-form form {
  background: black;
  padding: 20px;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.modal-form form .modal-form {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  padding: 0px 20px;
  height: 100vh;
  z-index: 99;
  width: 100%;
  left: 0;
}
.modal-form form input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #012b70;
  color: white;
}
.modal-form form .modal-form form {
  background: black;
  padding: 20px;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.modal-form form .modal-form form .label {
  width: 100%;
  margin: 10px 0;
}
.modal-form form .modal-form form button {
  color: white;
  border: none;
  background: none;
  padding: 10px;
  margin-left: 10%;
}
.modal-form form .label {
  width: 100%;
  margin: 10px 0;
}
.modal-form form button {
  color: white;
  border: none;
  background: none;
  padding: 10px;
  float: right;
}
.notif{
  position: fixed;
  left: 0;
  top: 130px;
  background: #ddd;
  width: 100%;
  color: #012b70;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  z-index: 99;
}
.modal-form .form-delete {
  background: black;
  padding: 20px;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.modal-form .form-delete .modal-form form {
  background: black;
  padding: 20px;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.modal-form .form-delete .label {
  width: 100%;
  margin: 10px 0;
}
.modal-form .form-delete button {
  color: white;
  border: none;
  background: none;
  padding: 10px;
  float: right;
}